/*** NO JAVASCRIPT ***/

.no-js .u-video {
  padding-bottom: 0;
  height: auto;
  text-align: center;
}

.no-js .u-video .u-videoExtLink {
  opacity: 1;
}

/*** END ***/

.u-700 {
  font-weight: 700;
}


.u-allCaps {
  text-transform: uppercase;
}

.u-autoMargin {
  margin: 0 auto;
}

.u-block {
  display: block;
}

.u-centerAlign, .u-alignCenter {
  text-align: center !important;
}

.u-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media(max-width: 767px) { /* Using max width to be agnostic to element's styles on other sizes */
  .u-hideOnMobile {
    display: none;
  }
}

.u-leftAlign {
  text-align: left !important;
}

@media(--tablet) {
  .u-leftAlignTablet {
    text-align: left;
  }
}

.u-none {
  display: none !important;
}

.u-relative {
  position: relative;
}

.u-solid {
  opacity: 1;
}

.u-svg {
  max-width: 80px;
  margin: 0 auto;
  display: block;
  text-align:center;
}

.u-textCenter {
  text-align: center;
}

@media(--tablet) {
  .u-twoColTablet {
    column-count: 2;
  }
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.u-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: 9999;
  font-weight: 700;
  font-size: 1.4em;
  transition: none;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.u-visuallyhidden.focusable:active,
.u-visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: fixed;
  width: 100%;
  text-align: center;
  background: var(--tertiary);
  color: var(--primary);
  padding: 1em 0;
}

.u-yellowBar:before {
  content: '';
  width: auto;
  display: block;
  border-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.u-yellowBar:before {
  content: '';
  width: 175px;
  display: block;
  border-top: 3px solid var(--primary);
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* Text Color Utilities */

.u-primary {
  color: var(--primary) !important;
}

.u-secondary {
  color: var(--secondary) !important;
}

.u-tertiary {
  color: var(--tertiary) !important;
}

.u-quaternary {
  color: var(--quaternary) !important;
}

.u-accent {
  color: var(--accent) !important;
}

/* backgrounds */

.u-primaryBkgd {
  background-color: var(--primary);
}

.u-secondaryBkgd {
  background-color: var(--secondary);
}

.u-tertiaryBkgd {
  background-color: var(--tertiary);
}

.u-quaternaryBkgd {
  background-color: var(--quaternary);
}

.u-accentBkgd {
  background-color: var(--accent);
}

.u-primaryFont {
  font-family: var(--primaryFont) !important;
}

.u-secondaryFont {
  font-family: var(--secondaryFont) !important;
}

.u-tertiaryFont {
  font-family: var(--tertiaryFont) !important;
}

.u-primaryBtn, .u-secondaryBtn, .u-tertiaryBtn {
  text-decoration: none !important;
  text-transform: uppercase !important;
  font-family: var(--secondaryFont) !important;
  font-size: 1.45em !important;
  letter-spacing: 3px !important;
  padding: 1em 1em 1em calc(1em + 3px) !important;
  margin: 2em 0 !important;
  display: inline-block !important;
}

.u-primaryBtn {
  color: #000 !important;
  background: var(--primary) !important;
}

.u-secondaryBtn {
  color: #000 !important;
  background: var(--secondary) !important;
}

.u-tertiaryBtn {
  color: #fff !important;
  background: var(--tertiary) !important;
}

/* background theming */

.u-noBkgd h1, .u-noBkgd h2, .u-noBkgd h3, .u-noBkgd h4, .u-noBkgd h5, .u-noBkgd h6 {
  color: #fff !important;
}

.u-noBkgd p {
  color: #fff !important;
}

.u-zeroPadding {
  padding: 0 !important;
}

.u-zeroMargin {
  margin: 0 !important;
}
